body {		
    background-color: black !important;
}

.section-Edits {
    color: white;
}

.section-Edits button{
    transition: 0.4s ease-in-out;
}

#Intro-section {
    padding: 30px 187px;
}

.display-5 {
    color: #0dcaf0;
}

.color-shade {
    color: #0dcaf0;
}

#About-me {
    padding: 100px 187px;
}

hr {
    position: relative;
    bottom: 37px;
    left:228px;
    width:90%;
}

#Skills {
    padding: 100px 187px;
}

.skills-Edits {
    font-size: 25px;
    margin-top:20px;
}

#projects {
    padding: 100px 187px;
}

.card .card-text{
    color: black;
}

#projects .Myprojects{
    position: relative;
    top: 60px;
    display: flex;
    gap: 10px;
}

#contact {
    padding: 100px 187px;
}

/* Small screens (phones) */
@media (max-width: 576px) {

   #Intro-section{
        padding: 0;
   }

   #Intro-section h1{
        margin-top: 20px;
   }

   #Intro-section img{
    display: none;
   }

   #About-me{
        padding: 0;
        margin-top: 80px;
   }

   #About-me p:nth-of-type(1){
        font-size: 30px !important;
   }

   #About-me hr{
    position: relative;
    left: 200px !important;
    width: 200px;
}

   #About-me p:nth-of-type(3) {
     font-size: 16px !important;
   }

   #Skills{
    padding: 0;
    margin-top: 80px;
   }

   #Skills p:nth-of-type(1){
    font-size: 30px !important;
}

   #Skills hr{
    position: relative;
    left: 200px !important;
    width: 200px;
   }

   #projects{
    padding: 0;
    margin-top: 80px;
   }

   #projects hr{
    position: relative;
    left: 200px !important;
    width: 200px;
}

#projects p:nth-of-type(1) span{
    font-size: 30px !important;
}

.Myprojects{
    flex-direction: column;
    gap: 23px !important;
    text-align: center;
    align-items: center;
}
     
    #contact{
        padding: 0;
        margin-top: 100px;
    }

}

/* Medium screens (tablets) */
@media (min-width: 577px) and (max-width: 992px) {

    .navbar{
        padding: 0;
    }
    
    #Intro-section{
        padding: 0;
    }

    #Intro-section h1{
        margin-top: 20px;
    }

    #About-me{
        padding: 0;
        margin-top: 80px;
    }

    #About-me p:nth-of-type(1){
        font-size: 30px !important;
    }

    #About-me hr{
    position: relative;
    left: 200px !important;
    width: 600px;
    }

    #About-me p:nth-of-type(3) {
    font-size: 16px !important;
    }

    #Skills{
    padding: 0;
    margin-top: 80px;
    }

    #Skills p:nth-of-type(1){
    font-size: 30px !important;
    }

    #Skills hr{
    position: relative;
    left: 200px !important;
    width: 600px;
    }

    #projects{
    padding: 0;
    margin-top: 80px;
    }

    #projects hr{
    position: relative;
    left: 200px !important;
    width: 600px;
    }

    #projects p:nth-of-type(1) span{
    font-size: 30px !important;
    }

    .Myprojects{
    flex-direction: column;
    gap: 23px !important;
    text-align: center;
    align-items: center;
    }
    
    #contact{
        padding: 0;
        margin-top: 100px;
    }
}
